{{> head }}
{{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>Holis Crayolis</h1>
        </div>
    </div>

    <div class="col-4">
        <img src="/assets/img/tugfa.png" class="img-thumbnail">
    </div>
   
{{> footer }}